@model Job
<h1>@Model.Title</h1>

<div class="Contain-border">
    

    <p>@Model.Description</p>

    <p>Location: @Model.Location</p>
    <p>Posted By: @Model.Creator.FirstName @Model.Creator.LastName</p>
    <p>Posted On: @Model.CreatedAt.ToString("MMMM dd, yyyy")</p>

    
</div>

<a asp-action="AddToJobList" asp-controller="Job" asp-route-JobId="@Model.JobId">Add To My Jobs</a>
