@{
#pragma warning disable CS8602

}
@model Event


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />



<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-md-2">
            <a asp-action="ShowInfo" asp-controller="Event" asp-route-EventId="@Model.EventId"
                asp-route-infoType="EventDate" class="btn btn-primary btn-block">Event Date</a>
            <a asp-action="ShowInfo" asp-controller="Event" asp-route-EventId="@Model.EventId"
                asp-route-infoType="Information" class="btn btn-info btn-block mt-2">Information</a>
            <a asp-action="ShowInfo" asp-controller="Event" asp-route-EventId="@Model.EventId"
                asp-route-infoType="Users" class="btn btn-success btn-block mt-2">Users</a>
        </div>

        <div class="col-md-3" style="margin-left: 0; padding-left: 0;">
            <div id="infoBorder">
                @if (ViewBag.InfoType == "EventDate")
                {
                    <h4>Event Date Information</h4>
                    <p>@Model.EventDate</p>
                }
                else if (ViewBag.InfoType == "Information")
                {
                    <h4>General Information</h4>
                    <p><b>Title : </b> @Model.EventName</p>
                    <p><b>Attendees : </b>@Model.AttendeesNumber players</p>
                    <p><b>Time : </b>@Model.EventDate.ToString("h:mm tt")</p>
                }
                else if (ViewBag.InfoType == "Users")
                {

                    @if (ViewBag.Team != null && ViewBag.Team.Count > 0)
                    {
                        <h4>Team  : </h4>
                        <ul>
                            @foreach (var teamMember in ViewBag.Team)
                            {
                                <li>@teamMember.FirstName @teamMember.LastName</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No team members found.</p>
                    }
                }
            </div>
        </div>

        <div class="col-md-6">
            <div id="leafletMap"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="chatContainer" class="border rounded p-3 mb-3">
                @foreach (var message in ViewBag.ChatMessages)
                {
                    <li>@message.User.FirstName @message.User.LastName : @message.Message</li>
                }

            </div>


        </div>

    </div>
    <div class="row">

        <div class="input-group mb-3">

            @Html.Partial("MessagePartial", new ChatMessage { UserId = ViewBag.CurrentUser, EventId = Model.EventId })

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    // Function to initialize the map
    function initMap() {
        var locationString = "@Model.Location";
        var locationArray = locationString.split(',').map(function (value) {
            return parseFloat(value.trim());
        });

        if (!isNaN(locationArray[0]) && !isNaN(locationArray[1])) {
            var map = L.map('leafletMap').setView(locationArray, 15);
            L.marker(locationArray).addTo(map);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);
        } else {
            console.error("Invalid coordinates in the location string.");
        }
    }


    // Load the map when the page is loaded
    window.onload = initMap;
</script>
